* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Body1 {
  width: 1280px;
  margin: auto;
}
.Body2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 48px;
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 1280px;
}
.Zai1 {
  background-color: #ecf5fa;
  width: 1280px;
  height: 153px;
}
.chil2 {
  display: flex;
  align-items: center;
  gap: 24px;
}
.chil3 {
  display: flex;
  margin-top: 20px;
  gap: 24px;
  margin-right: 40px;
}
.chil1 {
  display: flex;
  gap: 12px;
  align-items: center;
}

.hero-section-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  inset: 0;
}

.hero-section {
  width: 1280px;
  height: 671px;
  background: url("./baigali.jpg") center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Zurag0 {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.chil1-1 {
  background-color: #d9eff7;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border-radius: 999px;
}
.chil1-1-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #065161;
  padding: 8px 10px;
}
.chil1-2-1 {
  font-size: 18px;
  color: #065161;
  display: flex;
  margin-left: 12px;
}
.chil1-2-2 {
  color: #70787c;
  font-size: 11px;
  margin-left: 12px;
}
a {
  text-decoration: none;
}

.chil2-0:hover {
  background-color: #2b697a;
  border-radius: 999px;
  color: white;
}
.chil2-0 {
  padding: 8px 16px;
  color: #40484b;
}
.chil3-1 {
  background-color: #ecf5fa;
  width: 71px;
  height: 24px;
  padding: 4px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  font-size: 11px;
}
.chil3-2 {
  background-color: #d9eff7;
  width: 86px;
  height: 44px;
  border-radius: 9999px;
  padding: 12px16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #065161;
}
.chil3-3 {
  background-color: #2b697a;
  width: 160px;
  height: 48px;
  display: flex;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
}
.chil3-4 {
  background-color: #065161;
  width: 32px;
  height: 32px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.Zurag1 {
  display: flex;
  justify-content: center;
  border-radius: 999px;
  background-color: white;
  width: 286px;
  height: 34px;
  margin-top: 128px;
  align-items: center;
  gap: 8px;
}
.Zurag1-1 {
  background-color: #194553;
  border-radius: 999px;
  font-size: 11px;
  color: #d9eff7;
  width: 112px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
}
.Zurag1-2 {
  color: #194553;
  font-size: 11px;
  display: flex;
}
.Zurag1-3 {
  background-color: #194553;
  height: 15px;
  width: 15px;
  border-radius: 999px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
.Text1 {
  color: #d9eff7;
  height: 38px;
  width: 486px;
  font-size: 30px;
  margin-top: 16px;
}
.Text2 {
  color: white;
  height: 64px;
  width: 231px;
  font-size: 56px;
  margin-top: 16px;
}
.Text3 {
  color: #d9eff7;
  width: 635px;
  height: 88px;
  font-size: 18px;
  margin-top: 16px;
}
.Dotor1 {
  width: 215px;
  height: 44px;
  background-color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 999px;
  font-size: 14px;
}
.Dotor2 {
  width: 215px;
  height: 44px;
  background-color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 999px;
  font-size: 14px;
}
.Dotor3 {
  width: 215px;
  height: 44px;
  background-color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 999px;
  font-size: 14px;
}
.Dotor4 {
  width: 215px;
  height: 44px;
  background-color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 999px;
  font-size: 14px;
}
.Dotor0 {
  display: flex;
  gap: 12px;
  margin-left: 192px;
  margin-right: 192px;
}
.Suuld1 {
  height: 68px;
  width: 898px;
  background-color: white;
  border-radius: 999px;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}
.Suuld1-1 {
  font-size: 11px;
  color: #70787c;
}
.Suuld1-2 {
  font-size: 11px;
  color: #70787c;
}
.Suuld1-3 {
  height: 48px;
  width: 195px;
  background-color: #065161;
  color: white;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.Suuld1-4 {
  height: 48px;
  width: 96px;
  background-color: #d9eff7;
  color: #065161;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.Suuld1-1-2 {
  color: #141d21;
  font-size: 14px;
}
.Suuld1-2-2 {
  color: #141d21;
  font-size: 14px;
}
.Aylal1 {
  width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
  padding-top: 72px;
  background-color: #f3faff;
}
.Ner2 {
  font-size: 15px;
  color: #40484b;
  width: 448px;
}
.Ner1 {
  color: #065161;
  font-size: 11px;
}
.Ner1-1 {
  width: 488px;
  height: 48x;
  color: #141d21;
  font-size: 40px;
}
.Aylal2 {
  width: 1280px;
  justify-content: center;
  align-items: center;
  background-color: #f3faff;
}
.Aylal2-1 {
  display: flex;
  gap: 24px;
  margin-top: 48px;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
}
.Aylal2-2 {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.Khuvsgul {
  background: url(/e0c329c922973b5b9e8f62271815be48e711f0c9.jpg) center/cover
    no-repeat;
  width: 680px;
  height: 420px;
  border-radius: 10px;
}

.ayalal-card {
  position: relative;
}

.ayalal-card-content {
  position: absolute;
  left: 32px;
  bottom: 32px;
}

.Terkh {
  background: url(/953f22841494489dceb8d5a638dae72523955681.jpg) center/cover
    no-repeat;
  width: 479px;
  height: 420px;

  border-radius: 10px;
}
.Khorgo {
  background: url(/53d5622eacfb1c7902057a2c2aa0a86da0855965.jpg) center/cover
    no-repeat;
  width: 479px;
  height: 380px;
  border-radius: 10px;
}
.Amar {
  background: url(/734b14768a0409fb5668a8c7956b43ee5ae9a771.jpg) center/cover
    no-repeat;
  width: 680px;
  height: 380px;
  border-radius: 10px;
}
.Grad1 {
  height: 100%;
  border-radius: 10px;
  width: 100%;
}

.Khtext1 {
  width: 154px;
  height: 24px;
  padding: 4px 12px;
  background-color: #d9eff7;
  font-size: 11px;
  color: #194553;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Khtext2 {
  width: 108px;
  height: 24px;
  padding: 4px 12px;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 11px;
  background-color: #ffffffc7;
  color: #141d21;
}
.Khtext3 {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 8px;
}
.Khtext4 {
  color: #d9eff7;
  font-size: 13px;

  width: 496px;
}
.Khtext5 {
  color: #d9eff7;
  font-size: 11px;
}
.Khtext6 {
  color: #d9eff7;
  font-size: 11px;
}
.Terkh1 {
  height: 24px;
  width: 96px;
  padding: 4px 12px;
  background-color: #d9eff7;
  font-size: 11px;
  color: #194553;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Terkh2 {
  width: 87px;
  height: 24px;
  padding: 4px;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 11px;
  background-color: #ffffffc7;
  color: #141d21;
}
.Terkh3 {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 8px;
}

.Terkh4 {
  color: #d9eff7;
  font-size: 13px;
  margin-bottom: 8px;
}
.Terkh5 {
  color: #d9eff7;
  font-size: 11px;
}
.Terkh6 {
  color: #d9eff7;
  font-size: 11px;
}
.Buleg1 {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}
.Buleg2 {
  display: flex;
  gap: 16px;
}
.Khuvsgul2 {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}
.Khuvsgul3 {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}
.Khorgo1 {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}
.Khorgo1-1 {
  width: 96px;
  height: 24px;
  padding: 4px 12px;
  background-color: #d9eff7;
  font-size: 11px;
  color: #194553;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Khorgo1-2 {
  width: 114px;
  height: 24px;
  padding: 4px;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 11px;
  background-color: #ffffffc7;
  color: #141d21;
}
.Khorgo2 {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 8px;
}
.Khorgo3 {
  color: #d9eff7;
  font-size: 13px;
  margin-bottom: 8px;
}
.Amar1 {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}
.Amar2 {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 8px;
}
.Amar3 {
  color: #d9eff7;
  font-size: 13px;
  margin-bottom: 8px;
}
.Amar1-1 {
  width: 137px;
  height: 24px;
  padding: 4px 12px;
  background-color: #d9eff7;
  font-size: 11px;
  color: #194553;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Amar1-2 {
  width: 152px;
  height: 24px;
  padding: 4px 12px;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 11px;
  background-color: #ffffffc7;
  color: #141d21;
}
.Aylal3 {
  width: 1280px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3faff;
}
.Atext1 {
  width: 190px;
  height: 24px;
  padding: 4px 12px;
  background-color: #d9eff7;
  font-size: 11px;
  color: #194553;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 8px;
  margin-top: 144px;
}
.Atext2 {
  font-size: 40px;
  color: #141d21;
  width: 490px;
  margin-bottom: 8px;
  text-align: center;
}
.Atext3 {
  width: 598px;
  color: #40484b;
  font-size: 18px;
  text-align: center;
}
.Tsogts1 {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}
.Tsogts1-1 {
  width: 378px;
  height: 243px;
  background-color: white;
  border-radius: 10px;
  padding: 24px;
}
.Tsogts1-2 {
  width: 378px;
  height: 243px;
  background-color: white;
  border-radius: 10px;
  padding: 24px;
}
.Tsogts1-3 {
  width: 378px;
  height: 243px;
  background-color: white;
  border-radius: 10px;
  padding: 24px;
}
.Tsogts2 {
  display: flex;
  gap: 24px;
  margin-top: 26px;
}
.Tsogts2-1 {
  width: 378px;
  height: 243px;
  background-color: white;
  border-radius: 10px;
  padding: 24px;
}
.Tsogts2-2 {
  width: 781px;
  background-color: white;
  border-radius: 10px;
  height: 243px;
  padding: 24px;
  display: flex;
}
.Anh1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.Anh1-1 {
  width: 64px;
  height: 24px;
  background-color: #e6eff5;
  border-radius: 999px;
  font-size: 11px;
  color: #70787c;
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
}
.Anh1-2 {
  color: #70787c;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Anh2 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #141d21;
}

.Anh3 {
  margin-bottom: 16px;
  font-size: 13px;
  color: #40484b;
}
.Anh4 {
  color: #70787c;
  font-size: 11px;
}
.doh1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.doh-1-1 {
  width: 64px;
  height: 24px;
  background-color: #e6eff5;
  border-radius: 999px;
  font-size: 11px;
  color: #70787c;
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
}
.doh-1-2 {
  color: #70787c;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doh2 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #141d21;
}

.doh3 {
  margin-bottom: 16px;
  font-size: 13px;
  color: #40484b;
}
.doh4 {
  color: #70787c;
  font-size: 11px;
}
.Dox1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.Dox1-1 {
  width: 64px;
  height: 24px;
  background-color: #e6eff5;
  border-radius: 999px;
  font-size: 11px;
  color: #70787c;
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
}
.Dox1-2 {
  color: #70787c;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Dox2 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #141d21;
}

.Dox3 {
  margin-bottom: 16px;
  font-size: 13px;
  color: #40484b;
}
.Dox4 {
  color: #70787c;
  font-size: 11px;
}
.Dok1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.Dok1-1 {
  width: 64px;
  height: 24px;
  background-color: #e6eff5;
  border-radius: 999px;
  font-size: 11px;
  color: #70787c;
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
}
.Dok1-2 {
  color: #70787c;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Dok2 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #141d21;
}

.Dok3 {
  margin-bottom: 16px;
  font-size: 13px;
  color: #40484b;
}
.Dok4 {
  color: #70787c;
  font-size: 11px;
}
.Dop2 {
  width: 224px;
  height: 176px;
  border-radius: 8px;
}
.Dop1 {
  display: flex;
  gap: 8px;
}
.Dop1-1 {
  font-size: 11px;
  width: 194px;
  height: 24px;
  color: #ffffff;
  background-color: #2b697a;
  padding: 4px 12px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Dop1-2 {
  color: #70787c;
  font-size: 13px;
  display: flex;
  align-items: center;
  flex-direction: center;
}
.Dop3 {
  font-size: 22px;
  color: #141d21;
  margin-top: 12px;
}
.Dop4 {
  font-size: 13px;
  color: #40484b;
  width: 509px;
  margin-top: 8px;
}
.Dop5 {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}
.Dop5-1 {
  font-size: 11px;
  width: 179px;
  height: 24px;
  color: #194553;
  background-color: #e6eff5;
  padding: 4px 12px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.Dop5-2 {
  font-size: 11px;
  width: 179px;
  height: 24px;
  color: #194553;
  background-color: #e6eff5;
  padding: 4px 12px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}
.Tsogts2-2-1 {
  display: flex;
  flex-direction: column;
}
.Aylal4 {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 72px;
  background-color: #f3faff;
}
.Btext1 {
  margin-top: 144px;
  font-size: 11px;
  width: 179px;
  height: 24px;
  color: #065161;
  background-color: #d9eff7;
  padding: 4px 12px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
.Btext2 {
  color: #141d21;
  font-size: 40px;
  margin-top: 8px;
}
.Btext3 {
  color: #40484b;
  font-size: #40484b;
  text-align: center;
  width: 500px;
  margin-top: 8px;
}
.Price1 {
  display: flex;
  gap: 32px;
}
.Price1-1 {
  background-color: #ffffff;
  width: 373px;
  height: 513px;
  padding: 48px;
  border-radius: 10px;
  margin-top: 72px;
}
.Price1-2 {
  background-color: #ffffff;
  width: 373px;
  height: 541px;
  padding: 48px;
  border-radius: 10px;
  margin-top: 56px;
}
.Price1-3 {
  background-color: #ffffff;
  width: 373px;
  height: 573px;
  padding: 48px;
  border-radius: 10px;
  margin-top: 72px;
}
.Price1-1-1 {
  font-size: 11px;
  width: 140px;
  height: 24px;
  color: #40484b;
  background-color: #e6eff5;
  padding: 4px 12px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Price1-1-2 {
  font-size: 36px;
  color: #141d21;
  display: flex;
  margin-top: 16px;
}
.Price1-1-2-1 {
  font-size: 14px;
  color: #70787c;
  display: flex;
  align-items: end;
}
.Price1-1-3 {
  color: #065161;
  font-size: 14px;
  margin-top: 6px;
}
.Price1-1-4 {
  color: #70787c;
  font-size: 11px;
  margin-top: 32px;
}
.Price1-1-6 {
  font-size: 13px;
  color: #141d21;
  margin-top: 12px;
}
.Price1-1-7 {
  font-size: 13px;
  color: #141d21;
  margin-top: 12px;
}
.Price1-1-8 {
  font-size: 13px;
  color: #141d21;
  margin-top: 12px;
}
.Price1-1-9 {
  font-size: 13px;
  color: #70787c;
  margin-top: 12px;
}
.Price1-1-10 {
  color: #065161;
  font-size: 14px;
  width: 277px;
  height: 48px;
  background-color: #e6eff5;
  padding: 4px 12px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.Price1-2-1-1 {
  color: white;
  width: 186px;
  height: 40px;
  background-color: orange;
  padding: 4px 12px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  position: relative;
  bottom: 64px;
  left: 40px;
}
.Price1-2-1-2 {
  font-size: 11px;
  display: flex;
}

.fa-plate-wheat {
  color: #194553;
  width: 13px;
  height: 12px;
}
.fa-paw {
  color: #194553;
  width: 13px;
  height: 12px;
}
.fa-calendar {
  width: 18px;
  height: 20px;
  color: #065161;
  display: flex;
  align-items: center;
  justify-content: center;
}
.abc1 {
  color: #194553;
  width: 157px;
  height: 24px;
  background-color: #d9eff7;
  padding: 4px 12px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  margin-bottom: 16px;
}
.abc0 {
  font-size: 36px;
  color: #065161;
  display: flex;
  margin-bottom: 4px;
}
.abc01 {
  color: #70787c;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
}
.abc001 {
  font-size: 14px;
  color: #065161;
  margin-bottom: 32px;
}
.abc2 {
  color: #70787c;
  font-size: 11px;
  margin-bottom: 12px;
}
.abc3 {
  color: #141d21;
  font-size: 13px;
  margin-bottom: 12px;
}
.abc4 {
  color: #141d21;
  font-size: 13px;
  margin-bottom: 12px;
}
.abc5 {
  color: #141d21;
  font-size: 13px;
  margin-bottom: 12px;
}
.abc6 {
  color: #141d21;
  font-size: 13px;
  margin-bottom: 12px;
}
.abc7 {
  color: #141d21;
  font-size: 13px;
  margin-bottom: 12px;
}
.abc8 {
  color: #ffffff;
  font-size: 14px;
  width: 277px;
  height: 48px;
  background-color: #2b697a;
  padding: 4px 12px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.Abcd4 {
  color: #70787c;
  font-size: 11px;
  margin-bottom: 12px;
}
.Abcd5 {
  color: #141d21;
  font-size: 13px;
  margin-bottom: 12px;
}
.Abcd6 {
  color: #141d21;
  font-size: 13px;
  margin-bottom: 12px;
}
.Abcd7 {
  color: #141d21;
  font-size: 13px;
  margin-bottom: 12px;
}
.Abcd8 {
  color: #141d21;
  font-size: 13px;
  margin-bottom: 12px;
}
.Abcd9 {
  color: #141d21;
  font-size: 13px;
  margin-bottom: 12px;
}
.Abcd0 {
  color: #065161;
  font-size: 14px;
  width: 277px;
  height: 48px;
  background-color: #e6eff5;
  padding: 4px 12px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.Abcd3 {
  font-size: 14px;
  color: #065161;
  margin-bottom: 32px;
}
.Abcd2 {
  font-size: 36px;
  color: #141d21;
  display: flex;
  margin-bottom: 4px;
}
.Abcd2-1 {
  color: #70787c;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
}
.Abcd1 {
  display: flex;
  margin-bottom: 16px;
  gap: 40px;
}
.Abcd1-1 {
  color: #d9eff7;
  font-size: 11px;
  width: 140px;
  height: 24px;
  background-color: #194553;
  padding: 4px 12px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Abcd1-2 {
  color: #d97706;
  font-size: 11px;
  width: 96px;
  height: 24px;
  background-color: #e6eff5;
  padding: 4px 12px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Aylal5 {
  display: flex;
  width: 1280px;
  flex-direction: column;
  align-items: center;
  background-color: #e0eaef;
  height: 670px;
}
.Aylal5-1 {
  width: 1184px;
  height: 526px;
  padding: 48px;
  border-radius: 16px;
  background-color: #ffffff;
  display: flex;
  margin-top: 72px;
}
.Tom1 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Tom2 {
  width: 60%;
  height: 100%;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.Tom2-1 {
  display: flex;
  width: 100%;
  height: 50%;
  gap: 16px;
}
.Tom2-2 {
  display: flex;
  width: 100%;
  height: 50%;
  gap: 16px;
}
.Tom2-1-1 {
  width: 299px;
  height: 215px;
  border-radius: 12px;
  padding: 40px;
  background-color: #ecf5fa;
}
.Tom2-1-2 {
  width: 299px;
  height: 215px;
  border-radius: 12px;
  padding: 40px;
  background-color: #ecf5fa;
}
.Tom2-2-1 {
  width: 299px;
  height: 215px;
  border-radius: 12px;
  padding: 40px;
  background-color: #ecf5fa;
}
.Tom2-2-2 {
  width: 299px;
  height: 215px;
  border-radius: 12px;
  padding: 40px;
  background-color: #ecf5fa;
}
.Tom1-1 {
  color: #065161;
  font-size: 11px;
  margin-bottom: 10px;
  margin-top: 121px;
}
.Tom1-2 {
  font-size: 40px;
  margin-bottom: 8px;
  color: #141d21;
}
.Tom1-5 {
  font-size: 15px;
  color: #40484b;
  width: 400px;
  margin-bottom: 24px;
}
.Tom1-4 {
  color: #065161;
  font-size: 14px;
  width: 276px;
  height: 32px;
  background-color: #e6eff5;
  padding: 8px 16px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Tom1-3 {
  color: #065161;
  font-size: 14px;
  width: 197px;
  height: 32px;
  background-color: #e6eff5;
  padding: 8px 16px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.Tomt1 {
  font-size: 18px;
  color: #141d21;
  margin-bottom: 10px;
}
.Tomt2 {
  color: #141d21;
  font-size: 18px;
  margin-bottom: 10px;
}
.Tomt3 {
  color: #40484b;
  font-size: 13px;
}
.Qwer1 {
  font-size: 18px;
  color: #141d21;
  margin-bottom: 10px;
}
.Qwer2 {
  color: #141d21;
  font-size: 18px;
  margin-bottom: 10px;
}
.Qwer3 {
  color: #40484b;
  font-size: 13px;
}
.Qwe1 {
  color: #141d21;
  font-size: 18px;
  margin-bottom: 10px;
}
.Qwe2 {
  color: #40484b;
  font-size: 13px;
}
.qwert1 {
  color: #141d21;
  font-size: 18px;
  margin-bottom: 20px;
}
.qwert2 {
  display: flex;
  gap: 12px;
}
.qwert2-1 {
  color: #065161;
  font-size: 14px;
  width: 88px;
  height: 24px;
  background-color: #d9eff7;
  padding: 4px 16px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qwert2-2 {
  color: #065161;
  font-size: 14px;
  width: 91px;
  height: 24px;
  background-color: #d9eff7;
  padding: 4px 16px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Aylal6 {
  display: flex;
  width: 1280px;
  flex-direction: column;
  align-items: center;
  background-color: #f3faff;
  padding: 72px;
}
.Aylal6-1 {
  width: 1184px;
  height: 324px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #194553;
  border-radius: 24px;
}
.Jij1 {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 96px 58px 132px 72px;
}
.Jij2 {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.Jij1-1 {
  color: #d9eff7;
  font-size: 11px;
  margin-bottom: 8px;
}
.Jij1-2 {
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 8px;
}
.Jij1-3 {
  color: #d9eff7;
  font-size: 15px;
}
.Jij2-1 {
  color: #ffffff;
  font-size: 14px;
  width: 216px;
  height: 52px;
  background-color: #2b697a;
  padding: 4px 16px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Jij2-2 {
  color: #194553;
  font-size: 14px;
  width: 188px;
  height: 52px;
  background-color: #ffffffc7;
  padding: 4px 16px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Aylal7 {
  background-color: #ecf5fa;
  width: 1280px;
  height: 424px;
  padding: 72px 48px 32px 48px;
}
.fa-house {
  width: 16px;
  height: 13px;
  margin-right: 4px;
  color: #065161;
}
.fa-compass {
  margin-right: 4px;
  width: 16px;
  height: 13px;
  color: #065161;
}
.fa-users {
  margin-right: 5px;
  width: 16px;
  height: 13px;
  color: #065161;
}
.fa-shield {
  margin-right: 4px;
  width: 16px;
  height: 13px;
  color: #065161;
}
.poor1 {
  display: flex;
  flex-direction: column;
}
.poor1-1 {
  display: flex;
}
.Aylal7-1 {
  display: flex;
  gap: 48px;
}
.poor1-2 {
  font-size: 13px;
  color: #40484b;
  margin-top: 16px;
  width: 338px;
}
.poor1-3 {
  width: 220px;
  height: 43px;
  background-color: white;
  padding: 4px 16px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.poor1-3-1 {
  font-size: 11px;
  color: #18331e;
}
.poor1-3-2 {
  font-size: 11px;
  color: #70787c;
}
.poor2-1 {
  font-size: 14px;
  color: #141d21;
}
.poor2-2 {
  color: #40484b;
  font-size: 13px;
  margin-top: 20px;
}
.poor2-3 {
  color: #40484b;
  font-size: 13px;
  margin-top: 12px;
}
.poor2-4 {
  color: #40484b;
  font-size: 13px;
  margin-top: 12px;
}
.poor2-5 {
  color: #40484b;
  font-size: 13px;
  margin-top: 12px;
}
.poor2-6 {
  color: #40484b;
  font-size: 13px;
  margin-top: 12px;
  width: 157px;
}
.poor3-1 {
  color: #141d21;
  font-size: 13px;
}
.poor3-3 {
  color: #40484b;
  font-size: 13px;
  margin-top: 12px;
}
.poor3-4 {
  color: #40484b;
  font-size: 13px;
  margin-top: 12px;
}
.poor3-2 {
  color: #40484b;
  font-size: 13px;
  margin-top: 20px;
}
.poor3-5 {
  color: #40484b;
  font-size: 13px;
  margin-top: 12px;
  width: 157px;
}
.poor4-1 {
  color: #141d21;
  font-size: 14px;
}
.poor4-2 {
  color: #40484b;
  font-size: 13px;
  margin-top: 20px;
  width: 362px;
}
.poor4-3 {
  width: 362px;

  margin-top: 16px;
  height: 52px;
  background-color: white;
  padding: 4px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.poor4-3-1 {
  font-size: 13px;
  color: #70787c;
  width: 192px;
  height: 16px;
}
.poor4-3-2 {
  background-color: #2b697a;
  color: white;
  padding: 4px 16px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 101px;
  height: 44px;
  margin-left: 16px;
}
.fa-envelope {
  color: #70787c;
  height: 13px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Aylal7-2 {
  display: flex;
  margin-top: 96px;
}
.rich2 {
  display: flex;
  gap: 40px;
  margin-left: 110px;
}
.rich1 {
  font-size: 13px;
  color: #40484b;
}
.rich2-1 {
  font-size: 13px;
  color: #40484b;
}
.rich2-2 {
  font-size: 13px;
  color: #40484b;
}
.rich2-3 {
  font-size: 13px;
  color: #40484b;
}
.rich2-4 {
  font-size: 13px;
  color: #40484b;
}
.poor4-4 {
  display: flex;
  margin-top: 20px;
  gap: 12px;
  align-items: center;
}
.poor4-4-1 {
  font-size: 11px;
  color: #70787c;
}
.poor4-4-2 {
  height: 36px;
  width: 36px;
  border-radius: 999px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poor4-4-3 {
  height: 36px;
  width: 36px;
  border-radius: 999px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poor4-4-4 {
  height: 36px;
  width: 36px;
  border-radius: 999px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qwert0 {
  color: #065161;
  width: 21px;
  height: 28px;
  margin-bottom: 8px;
}
.Qwe0 {
  color: #065161;
  width: 21px;
  height: 28px;
  margin-bottom: 8px;
}
.Qwer0 {
  color: #065161;
  width: 21px;
  height: 28px;
  margin-bottom: 8px;
}
.Tomt0 {
  color: #065161;
  width: 21px;
  height: 28px;
  margin-bottom: 8px;``
}
